* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #0e0e0e;
}

::-webkit-scrollbar-thumb {
    background: #545454;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

ul {
    list-style: none;
}

body {
    background-image: url(https://i.postimg.cc/t4NQRQP3/background.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family: 'Open Sans', 'Source Sans Pro', sans-serif;
    line-height: 160%;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    width: 120px;
    border-radius: 50%;
    padding: 3px;
    background-image: linear-gradient(90deg, #9572FC, #43E7AD, #E2D45C);
    transition: 400ms;
}

header img:hover {
    transform: scale(120%);
}

main {
    max-width: 580px;
    width: 90%;
    margin: auto;
    display: grid;
    gap: 24px;
    margin-top: 32px;
}

/* Animação vertical da pfp do GitHub */
#love, #github-pfp {
    animation: fromLeft 1500ms backwards;
}

main section:nth-child(1) {
    animation: fromLeft 3000ms;
}

main section:nth-child(2) {
    animation: fromLeft 3500ms;
}

main section:nth-child(3) {
    animation: fromLeft 4000ms;
}

@keyframes fromLeft {
    from {
        opacity: 0;
        transform: translateX(-1920px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

section {
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section h2 {
    margin-top: 24px;
    letter-spacing: -0.47;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 24px;
}

section ul li {
    transition: 500ms;
}

section ul li:hover {
    transform: scale(105%);
    opacity: 0.5;
}

section div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 8px;
    border-radius: 8px;
}

.game-list img {
    width: 90px;
    height: auto;
    border-radius: 16px;
}

.channel-list img {
    width: 70px;
    border-radius: 50%;
}

.social-list svg {
    width: 32px;
}

#repo {
    opacity: 0.4;
    margin-left: 18px;
    margin-bottom: 18px;
}

#repo a {
    text-decoration: none;
    color: white;
}

#love {
    margin-top: 45px;
    color: #b3b3b3;
    text-align: center;
    font-size: 16px;
}

#spotify-svg {
    filter: grayscale(100%);
}

#instagram-svg {
    filter: invert(100%);
}

#github-svg {
    filter: invert(100%);
}

#steam-svg {
    filter: invert(100%);
}